server/tokens/
staging/
vault/*
!vault/README.md
!vault/creds.json.template
!vault/.gitkeep

# Huge (30GB) file
server/providers/cygwin/assets/astrometry.tgz
.venv/
venv/
__pycache__/
server/providers/mast/assets/mast_github.txt
